<div class="projects">
    <h2>Featured Projects</h2>
    {% assign has_project = false %}
    {% for project in site.projects limit: 3 %}
        <div class="project-card">
            <a class="title" href="{{ site.baseurl }}{{ project.url }}">
                {{ project.title }}
            </a>
            <div class="details">
                {{ project.subtitle }}
            </div>
        </div>
        {% assign has_project = true %}
    {% endfor %}
    {% if has_project == false %}
        <div class="no-projects">No projects to show yet. Stay tuned!</div>
    {% endif %}
</div>
